# Archivos de compilación de C++
*.exe
*.out
*.o
*.a
*.so
*.dll
*.dylib
*.lib
*.obj
*.dSYM
*.app

# Archivos de pruebas y cobertura de código
*.gcno
*.gcda
*.gcov
*.profraw
*.perf

# Archivos temporales de editor y entorno de desarrollo
.bin/
.bin/*
.vscode/
.vscode/*   # Asegura que todos los archivos en .vscode/ sean ignorados
.idea/
*.user
*.pro.user

# Archivos generados por el compilador de MSYS2
msys2.exe
mingw*.exe

# Archivos de configuración de MSYS2
*.log, *.tmp, *.bak, *.swo, *.Thumbs, *.swp, *.swo, *.swm, *.swp, *.swn, *.swx, *.swz
*.swp, *.swo, *.swm, *.swx, *.swz, *.swp, *.swo, *.swm, *.swx, *.swz

# Archivos de configuraciones locales
c_cpp_properties.json
tasks.json
launch.json
settings.json

# Archivos de backup de editores
*~
*.swp
bin/
